*{margin:0px;padding:0px;}
body {overflow-x:hidden;font-family: "微软雅黑", "Microsoft YaHei", Helvetica,sansation, Verdana, Arial, sans-serif;font-size: 12px;}
a{text-decoration: none;color: #333;}
a:hover {text-decoration: underline;color: #518900;}
img,table,input,textarea{border: 0;vertical-align: middle;outline: none;}
table{border-collapse: collapse;}
ul{list-style: none;}
.fl{float: left;}
.fr{float: right;}
.cle{clear: both;}
.abs{position: absolute;}
.rel{position: relative;}
form {display: inline;}
b, u, i, s, em {text-decoration: none;font-weight: normal;font-style: normal;}
