@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-size:12px; font-family: '微软雅黑';color:#333;}
body{background:#fff;}
.clr{clear:both;}
.w1100{width:1100px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.bd1{border:1px solid #333;}
.inbk{display:inline-block;}
.pubbg{background:url('/Public/image/bg.png') no-repeat;}
a{ text-decoration:none;border:none;color:#2d64b3;}
a, textarea, input{outline:medium none;}
.h35{height:35px;line-height:35px;}
label,label input{vertical-align:middle;}
.ml80{margin-left:80px;}
.ml70{margin-left:70px;}
.mr70{margin-right:70px;}
.mr60{margin-right:60px;}
.mr80{margin-right:80px;}
h3{height:40px;line-height:40px;background:#EFEFEF;font-size:18px;padding-left:5px;margin-bottom:10px;box-sizing:border-box;}
input,select,textarea{vertical-align: middle;}

/* top-nav*/
.top-nav{width:100%;height:35px;background:#F6F6F6;border-bottom:1px solid #E0E3E6;margin-bottom:3px}
.top-nav .tn-left{}
.top-nav dd{float:left;display: inline-block;position: relative;width:60px;}
.top-nav dd a{height:35px;line-height:35px;width:100%;background:#F6F6F6;text-align:center;display:block;color:#777;}
.top-nav dd a:hover{color:#00448A;}
.top-nav .tn-right dl{background:#F6F6F6;}
.top-nav .tn-right dl dd dl{margin:0;width:80px;position: absolute;left:15px;z-index: 99;border:1px solid #e0e3e6;border-top:none;border-bottom:none;}
.top-nav .tn-right dl dd{height:35px;}
.top-nav .tn-right dl dd dl dd{border-bottom:1px solid #e0e3e6;width:100%;text-align:center;}
.top-nav .tn-right dl dd dl dd a:hover{background:#aaa;}

/* top-adver */
.top-adver{height:80px;display:block;overflow:hidden;}

/* logo sreach */
.lgsh{height:110px;}
.lgsh .logo{width:245px;height:100%;overflow:hidden;}
.lgsh .sreach{height:100%;}
.lgsh .sreach .srh{margin:40px 0 0 80px;}
.lgsh .sreach .insh{height:35px;width:400px;}
.lgsh .sreach a{background-position: -402px 0;font-size:14px;color:#fff;font-weight:bold;text-align:center;display:block;width:79px;height:25px;line-height:25px;}
.lgsh .srh input{height:35px;width:70px;border:none;}
.lgsh .insh .stxt{width:305px;margin:4px 5px auto 10px;height:25px;line-height:25px;}
.lgsh .upfile{border-left:1px solid #e3e3e3;margin-top:68px;color:#f15727;display:block;float:right;height:30px;line-height:30px;font-size:18px;text-align:center;width:140px;}

/* nav-menu*/
.nav-menu{width:100%;margin-bottom:10px;height:45px;text-align:center;background:#348ece;}
.nav-menu .menu{}
.nav-menu .menu dd{float:left;position:relative;}
.nav-menu .menu dd a{padding:0 18px;font-size:14px;font-weight:bold;line-height:45px;display:block;}

/* cate-nav*/
.cate-nav{padding:10px 0 20px;}
.cate-nav .left-cate{width:135px;border:1px solid #EAEAEA;box-sizing:border-box;padding:10px 15px;}
.cate-nav .left-cate dl{background:#fff;}
.cate-nav .left-cate dd{position:relative;z-index:99;}
.cate-nav .left-cate dd:hover{border:#67B168 1px solid;}
.cate-nav .left-cate .cur{border:1px solid #67B168;border-right:none;width:140px;z-index:200;}
.cate-nav .left-cate dd dl{position:absolute;top:-1px;left:100px;border:1px solid #67B168;width:120px;padding: 0px 10px;box-sizing:border-box;z-index:110;}
.cate-nav .left-cate dd a{width:100%;margin:0 auto;height:30px;line-height:30px;display:block;border-bottom:1px solid #EAEAEA;}
.cate-nav .left-cate dd dl dd:hover{background:#FFF;color:#555;border:none;}

.cate-nav .right-cate{width:950px;}
.cate-nav .recom{width:675px;}
.cate-nav .right-cate .auto-msg{width:950px;padding:0 20px 0 40px;box-sizing:border-box;line-height:35px;margin-bottom:10px;background:url("/Public/image/p_ico.png") no-repeat 6px 8px #ffecbf;}
.cate-nav .right-cate .cntin .rec-img{height:190px;width:100%;position:relative;overflow:hidden;}
.cate-nav .right-cate .cntin .recommend{}
.cate-nav .right-cate .recommend dd{float:left;}
.cate-nav .right-cate .recommend dd dl{position:absolute;top:0;left:185px;}
.cate-nav .right-cate .recommend dd a{height:30px;line-height:30px;}

.cate-nav .right-cate .recommend .type-rec{width:100%;height:30px;line-height:30px;margin-bottom:10px;background:#efefef;border-bottom:#ccc;}
.cate-nav .right-cate .recommend .type-rec a{padding:0 10px;}
.cate-nav .right-cate .recommend .type-rec .cur{background:#4242ff;color:#fff;}
.cate-nav .right-cate .recommend .type-rec .cur>a{color:#fff;}
.cate-nav .right-cate .recommend .title-rec{}
.cate-nav .right-cate .recommend .title-rec dd{width:285px;padding:0 10px;}
.cate-nav .right-cate .checkin{width:265px;margin-left:10px;padding-bottom:20px;overflow:hidden;background:#f8f8f8}
.cate-nav .right-cate .checkin .check-img{width:px;width:150px;display:block;}
.cate-nav .right-cate .checkin .check-bg{display:block;height:20px;width:100%;margin:20px 0 10px;background-position:0 -85px;}
.cate-nav .right-cate .checkin a i{display:block;width:34px;height:30px;background:url('/Public/image/p_ico1.png') no-repeat 0 -120px;margin:0 auto;}
.cate-nav .right-cate .checkin .type-menu a{float:left;:inline-block;height:51px;margin:10px 0 0 12px;overflow:hidden;padding-top:4px;text-align:center;width:71px;color:#2d64b3;}


/* content */
.in-content{margin:20px auto; }
.in-content h3{height:35;line-height:35px;padding:0 10px;background:#efefef;font-size:14px;}
.in-content h3 a{color: #2d64b3;}
.in-content .cont-left{width:825px;}
.in-content .cont-left .cont-list{border:1px solid #ccc;margin-bottom:20px;}
.cont-left .cont-list .ch-cate{border-bottom:1px solid #ccc;}
.cont-left .cont-list .ch-cate a{height:35px;line-height:35px;display:inline-block;padding:0 10px;color:#2d64b3;}
.cont-left .cont-list h3{padding:0 10px;background-color:#1174c9;color:#fff;font-weight:bold;font-size:14px;display:block;float:left;}
.cont-left .cont-list span{display:inline-block;float:left;padding-left:10px;background-position:-590px -41px;}
.cont-left .cont-list .title-list{padding:10px 0;} 
.cont-left .cont-list .title-list .line{height:185px;margin-top:13px;display:block;width:1px;border-left:1px dashed #e3e3e3;float:left;} 
.cont-left .cont-list .title-list dl{width:400px;}
.cont-left .cont-list .title-list dd{width:380px;float:left;height:35px;line-height:35px;margin-left:20px;color:#444;}
.cont-left .cont-list .title-list dd a{height:35px;line-height:35px;font-size:14px;display:inline-block;color:#444;}
.in-content .cont-list .ch-cate .more{color:#999;font-size:12px;font-weight:300;}
/* tag slist*/
.in-content .tag-list{width:825px;border:1px solid #ccc;}
.in-content .tag-list .more{color:#999;font-weight:500;}
.in-content .tag-list .tag{margin:10px 20px 20px;}
.in-content .tag-list .tag a{display:inline-block;float:left;padding:3px 10px;border:1px solid #ccc;margin-right:15px;}

/* right lsit */
 .cont-right{width:265px;margin-left:10px;}
 .cont-right .rgbd{border:1px solid #ccc;margin-bottom:20px;background:#f2f5fa;padding:5px 0 20px;}
 .cont-right h3{height:30px;line-height:30px;padding:0 10px;background: #eaeaea;}
 .cont-right .downshow{height:350px;padding:0 10px;box-sizing:border-box;overflow:hidden;background:#fff;}
 .cont-right .downshow p{line-height:16px;width:245px;overflow:hidden;border-bottom:1px dotted #ccc;padding:5px 0px;}

 .cont-right .time-select{}
 .cont-right .time-select p{padding-left:10px;border-bottom:1px solid #ccc;height:26px;}
 .cont-right .time-select p span{display:inline-block;height:22px;line-height:22px;padding:2px 5px;cursor:pointer;width:22px;text-align:center;}
 .cont-right .time-select p .cur{border:1px solid #ccc;border-radius:5px 5px 0 0;background:#fff;border-bottom:none;}
 .cont-right .t-list{padding:10px;background:#fff;}
 .cont-right .t-list p {height:30px;line-height:30px;width:100%;overflow:hidden;clear:both;border-bottom:1px #ccc dotted;}
 .cont-right .t-list p span{display:inline-block;height:18px;line-height:18px;float:right;margin:7px 10px 0 0;text-align:center;}
/* friend url */
.friendurl {border:1px solid #ccc;min-height:35px;box-sizing:border-box;}
.friendurl h3{height:35px;line-height: 35px;background:#EFEFEF;padding-left:10px;margin-bottom:10px;}
.friendurl a{display:inline-block;height:22px;line-height:22px;padding:2px 3px;margin-left:15px;color:#2d64b3;}
	
/*首页结束css*/

/* 注册页 */
.regedit{width:550px;margin:10px auto;padding:20px;border:1px solid #ccc;border-radius:12px;}
.regedit h3{height:45px;padding-left:15px;border-bottom:1px solid #ccc;font-size:18px;line-height: 50px; font-weight: normal;margin-bottom:20px;}
.regedit .reg_form{width:400px;margin:0px auto;vertical-align: middle;}
.regedit .reg_form p{height:35px;margin:20px auto;}
.regedit .reg_form p span{height:35px;line-height:35px;vertical-align: middle;}
.regedit .reg_form p .star{color:red;padding-right:10px;}
.regedit .reg_form p label{vertical-align: middle;font-size:14px;width:120px;display: inline-block;text-align:right;}
.regedit .reg_form p .reg_txt{width:193px;padding:4px 7px;height:30px;border:none;line-height:30px;vertical-align: middle;}
.regedit .reg_form p .insuccess{background:url('/Public/image/b_input.gif') no-repeat -1px -172px;}
.regedit .reg_form p .inerror{background:url('/Public/image/b_input.gif') no-repeat -1px -132px;}
.regedit .reg_form p .normal{background:url('/Public/image/b_input.gif') no-repeat -1px -92px;}
.regedit .reg_form .servers{width:240px;height:22px;vertical-align: middle;line-height:22px;}
.regedit .reg_form .submt{width:320px;margin:0 auto;padding-left:10px;}
.regedit .reg_form .submt input{background:url("/Public/image/b_input.gif") no-repeat -220px -92px;border:none;height:38px;width:112px;font-weight: bold;font-size:16px;cursor:pointer;color:#fff;}

/* adver nav*/
.adver-nav{overflow:hidden;background:#ffedbf;margin:10px auto;}
.adver-nav .adver{height:30px;overflow:hidden;padding-left:34px;background:url("/Public/image/p_ico.png") no-repeat 6px 5px;}
.adver-nav .adver a{display:inline-block;line-height:30px;margin-right:15px}
.adver-nav i{display:inline-block;float:right;width:30px;height:30px;background:url("/Public/image/p_ico.png") no-repeat 0 -25px;}

/* address nav */
.addr-nav{border:1px solid #e7e9ec;background:#f8f8f8;}
.addr-nav .addr{text-indent:12px;padding:8px 0;color:#666;}
.addr-nav .addr a{color:#317ee7;}

/** download **/
.downld{}

.downld h3 img{width:20px;height:20px;float:left;margin-right:10px;margin-top:12px;}
.downld h3 span{display:inline-block;width:80px;text-align:center;border-bottom:2px solid #c81623;font-size: 14px;height:33px;}
.downld .dinfo{font-size:16px;width:650px;margin:20px 0 10px 10px;}
.downld .dinfo dd{height:35px;line-height:35px;width:320px;float:left;color:#666;}
.downld .stag{margin-bottom: 20px;padding-left:10px;}
.downld .stag span{background: #E7E7E7;border-radius:10px;display:inline-block;height:20px;line-height:20px;margin-right:10px;padding:0 1em;}
.downld .downdd{}
.downld .downdd a{display:inline-block;float:left;background:url('/Public/image/enter-link-icon.png') no-repeat;height:50px;line-height:46px;width:201px;text-align:center;padding-left:25px;font-size:18px;color:#fff;}
.downld .downdd .download{background-color:#2981a9;background-position: 30px 12px; }
.downld .downdd .vipdown{background-color:#f90;background-position: 46px -46px;}
.downld .collent span{height:35px;cursor:pointer;line-height:35px;padding:2px 10px;display:inline-block;width:93px;text-align:center;background:#EFEFEF;}
.downld .intro{margin:10px 0;}
.downld .intro h3{height:35px;line-height:35px;font-size:14px;padding:0;}
.downld .intro .intcont{padding:10px;box-sizing:border-box;border:1px solid #EFEFEF;border-top:none;}
.downld .recomm {box-sizing:border-box;}
.downld .recomm .tnav{background: #EFEFEF;}
.downld .recomm .tnav p span{display:inline-block;float:left;cursor:pointer;width:90px;height:30px;line-height:30px;text-align:left;text-align:center;}
.downld .recomm .tnav p .cur{background:#2981a9;color:#fff;}
.downld .recomm{border:1px solid #EFEFEF;}
.downld .recomm .t-list{padding:10px 20px;}
.downld .recomm .t-list p{height:30px;line-height: 30px;}
.downld .recomm .t-list p .sp{float:right;display:inline-block;height:30px;margin-left:40px;}
.downld .recomm .t-list p .grade{width:75px;height:15px;margin-top:7px;background:url('/Public/image/star-def.png') repeat-x;position: relative;}
.downld .recomm .t-list p .grade .starw{position:absolute;top:0;left:0;width:75px;padding:0;}
.downld .recomm .t-list p .downnum{}


/** 评论 **/
.comedit{width:100%;height:165px;margin:20px auto;position:relative;}
.comedit textarea{width:100%;height:140px;padding:10px 10px 15px;box-sizing:border-box;}
.comedit .com_num span{display:inline-block;}
.comedit .com_submit{position:absolute;bottom:12px;right:4px;}
.comedit .com_submit .but{background:#1174C9;color:#fff;padding:3px 5px;}

.comment{margin-top:10px;}
.comment h3{font-size:14px;height:35px;line-height: 35px;padding:0;margin-bottom:20px;}
.comment .comt{width:100%;padding: 10px 0 0;border-bottom:1px dashed #1B80C4;}
.comment .comt .cface{width:50px;height:100%;overflow:hidden;float:left;}
.comment .comt .cface img{width:50px;height:50px;padding-top:5px;}
.comment .comt .content{float:right;width:91%;margin-right:10px;}
.comment .comt .content .name{height:18px;line-height: 18px;}
.comment .comt .content .contt{width:100%;overflow-x:hidden;height:auto;margin:5px auto;line-height:18px;min-height: 25px;}
.comment .comt .content .info{height:22px;}
.comment .comt .content .info span{display:inline-block;line-height: 18px;}
.comment .comt .content .info .reply{color:#1174C9;cursor:pointer;float:right;margin-left:15px;}
.comment .comt .content .info .praise{float:right;display:inline-block;height:22px;padding:0 5px;}
.comment .comt .content .info .praise i{cursor:pointer;margin-top:2px;background:url('/Public/image/icon.png') no-repeat;float:left;margin-left:10px;display:inline-block;height:18px;width:14px;z-index:100;}
.comment .comt .content .info .goodnum i{background-position:-75px 2px;}
.comment .comt .content .info .goodnum i:hover{background-position:-75px 0px;}
.comment .comt .content .info .badnum i:hover{background-position:-454px -59px;}
.comment .comt .content .info .badnum i{background-position:-454px -62px;}

.comment .comt .content .info .time{}
.comment .comt .comchild{width:92%;float:right;border:none;border-top:1px dashed #1B80C4;padding:20px 0 0 0 ;}
.comment .comt .comchild .content{width:90%;}

/** start member center **/
/* start upload content **/
.upcontent .left{width:850px;border:1px solid #ccc;float: left;margin:20px 0;}
.upcontent .upfrom{margin:20px auto;width:550px;}
.upcontent .upfrom tr{margin-top:20px;}
.upcontent .upfrom tr th{font-size:14px;line-height:25px;font-weight:200;}
.upcontent .upfrom tr td{padding:5px 0;color:#999;}
.upcontent .upfrom tr td input{color:#666;border:1px solid #ccc;padding:3px 5px;height:23px;line-height:23px;width:420px;}
.upcontent .upfrom tr td textarea{color:#666;border:1px solid #ccc;padding:3px 5px;height:130px;line-height:23px;width:420px;}
.upcontent .upfrom tr td select{color:#666;border:1px solid #ccc;height:30px;line-height:30px;padding:4px 0;width: 120px;}
.upcontent .left .avatar{box-sizing:border-box;padding:0 25px;}
.upcontent .upfrom #upload{width:60px;background:none;border:none;height:24px;}

.upcontent .right{width:230px;border:1px solid #ccc;float:right;margin:20px 0;padding-bottom:20px;}
.upcontent .right .face{width:100px;height:100px;overflow:hidden;margin:20px auto;}
.upcontent .right dl{width:180px;margin:0 auto;}
.upcontent .right dl dd{width:180px;height:35px;line-height:45px;border-bottom:1px solid #e5e5e5;padding-left:20px;box-sizing:border-box;}
/** end member center **/
    
/*list page css */
.list-content{margin:20px auto; }
.list-content .l-con-left{width:820px;border:1px solid #ccc;}
.sr-cond{border:1px solid #EFEFEF;}
.sr-cond .sr-cate{margin:9px 14px;overflow:hidden;}
.sr-cond .sr-cate a.cur{background:#317ee7;color:#FFF;}
.sr-cond .sr-cate a{height:22px;line-height:22px;margin:0 6px;padding:1px 3px;white-space:nowrap;}
.sr-cond .sr-cate .childcate{width:525px;padding:7px 0px;margin-left:60px;margin-top:5px;border:1px solid #e1e1e1;box-sizing:border-box;}
.sr-cond .sort-nav{margin-top:20px;background:url('/Public/image/sr-bg.png') repeat-x 0 2px #f7f7f7;border-top:1px solid #ccc;height:35px;overflow:hidden;}
.sr-cond .sort-nav p{display:inline-block;float:left;margin-left:4px;overflow:hidden;}
.sr-cond .sort-nav p a.cur{border:1px solid #1b80c4;text-decoration:none;}
.sr-cond .sort-nav p a{background:url("/Public/image/p_rxbg1.png") repeat-x 0 -35px;display:inline-block;float:left;height:22px;line-height:22px;margin:6px 10px 0 0;padding:0 8px;border:1px solid #ccc;}
.sr-cond .sort-nav p i{display:inline-block;height:15px;padding-left:5px;margin-top:5px;float:right;width:10px;display:inline-block;background-position:-485px -141px;}
.sr-cond .sort-nav p i.cur{background-position:-485px -119px;}
.sr-cond .sort-nav p a:hover i{background-position:-485px -119px;}
.sr-cond .sort-nav label{float:left;padding:10px 0 0 16px;display:inline-block;}
.sr-cond .sort-nav b{float:left;line-height:35px;margin-left:17px;width:40px;}

/* list page list*/
.ct-list{padding:15px;box-sizing:border-box;}
.ct-list .ct-lt{}
.ct-list .ct-lt .sou-img{width:30px;margin-right:15px;overflow:hidden;}
.ct-list .ct-lt .sou-img img{width:30px;}
.ct-list .ct-lt .cont-intro{width:740px;overflow:hidden;}
.ct-list .ct-lt .cont-intro h3{height:30px;color:#00448a;line-height:29px;}
.ct-list .ct-lt .cont-intro h3 a{color:#00448a;display:inline-block;line-height: 28px;height:28px;}
.ct-list .ct-lt .cont-intro .tag{height:28px;line-height: 28px;}
.ct-list .ct-lt .cont-intro .tag span{display:inline-block;margin-right:10px;}
.ct-list .ct-lt .cont-intro .intro{width:740px;max-height:45px;line-height:22px;}
.ct-list .ct-lt .down-info{height:35px;background:#edf2f6;margin:10px 0 20px ;}
.ct-list .ct-lt .down-info p{line-height:35px;padding-left:10px;}
.ct-list .ct-lt .down-info p span{display:inline-block;margin-right:15px;}
.sort-nav .logdata{float:right;margin-top:10px;margin-right:10px;}
/*  page */
.page{padding:10px auto;margin:20px auto;text-align:center;}
.page a{display:inline-block;padding:3px 7px;border:1px solid #2B542C;border-radius:5px;margin:0 5px;text-align:center;}
.page .current{background:#018000;color:#fff;}

/* footer */
.footer{width:100%;height:80px;margin-top:20px;background:#018000;}
