<!-- admin system menu edit -->
<extend name="Public:Temp" />
<!-- admin system menu edit -->
<block name="PageName">资源编辑</block>
<!-- leftmenu -->
<block name="leftmenu">
    <li class='<if condition="ACTION_NAME EQ 'index'"> active </if>'>
        <a href="{:U('Admin/Sourc/index')}">资源列表</a>
    </li>
    <li class='<if condition="ACTION_NAME EQ 'edit'"> active </if>'>
        <a href="{:U('Admin/Sourc/edit')}">资源编辑</a>
    </li>  
</block>
<!-- stystem menu content -->
<block name="content">
<script type="text/javascript" charset="utf-8" src="/Public/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/ueditor/ueditor.all.js"> </script>
<script>
    // var ue = UE.getEditor('editor');
    $(function(){
        var ue = UE.getEditor('editor',{
            serverUrl :'{:U("Admin/Book/editer")}'
        });
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">资源编辑页</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form class="form-horizontal" method="post" action="{:U('Admin/Sourc/add_updata')}" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$info['id']}" />
                    <div id="inputfile"></div>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="selectError">资源分类</label>
                            <div class="col-lg-3">
                                <select class="form-control" name="cateid">
                                    <volist name="catelist" id="c">
                                        <option value="{$key}" <if condition="$info['cateid'] EQ $key">selected="selected"</if> >{$c['levelstr']}{$c['name']}</option>
                                    </volist>
                                </select>
                                <!--span class="help-block">Woohoo!</span -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">资源标题</label>
                            <div class="col-lg-5">
                                <input class="form-control" name="title" id="focusedInput" type="text" placeholder="书籍名称" value="{$info['title']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">资源标签</label>
                            <div class="col-lg-10">
                                <volist name="taglist" id="t">
                                    <input type="checkbox"　<if condition="in_array($t['id'],$info['tagid'])"> checked="checked" </if>　class="uniform_on" value="{$t['id']}" name="tagids[]" />{$t['name']}
                                </volist>
                            </div>
                        </div>
                        <if condition="$info['id']">
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="disabledInput">状态</label>
                            <div class="col-lg-3">
                                <select class="form-control" name="status">
                                	<volist name="status" id="s">
                                		<option value="{$key}" <if condition="$info['status'] EQ $key">selected</if>>{$s}</option>
                                	</volist>
                                </select>
                            </div>
                        </div>
                        </if>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">消耗积分</label>
                            <div class="col-lg-3">
                                <input class="form-control" name="grade" id="focusedInput" type="text" placeholder="下载时消耗积分" value="{$info['grade']}">
                            </div>
                        </div>
                        <!-- <div class="form-group" style="position: relative;">
                            <label class="col-lg-2 control-label" for="focusedInput">封面</label>
                            <div class="col-lg-5">
                                <input class="" type="file" name="cover" placeholder="最好的英文名" value="">
                            </div>
                            <img src="{$info['cover']}" alt="封面" style="position: absolute;top:-150px;right:100px;float: right;z-index: 200"/>
                        </div> -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">推荐</label>
                            <div class="col-lg-4">
                                <input type="checkbox"　<if condition="$info['recommend']"> checked="checked" </if>　class="uniform_on" value="1" name="recommend" />　推荐
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">关键字</label>
                            <div class="col-lg-7">
                                <input class="form-control" name="keyword" id="focusedInput" type="text" placeholder="关键字" value="{$info['keyword']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">描述</label>
                            <div class="col-lg-7">
                                <textarea name="discription" placeholder="用于头部SEO" class="form-control">{$info['discription']}</textarea>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">内容简介</label>
                            <div class="col-lg-7">
                                <textarea name="intro" placeholder="简介" class="form-control">{$info['intro']}</textarea>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">资源内容</label>
                            <div class="col-lg-7">
                                <script id="editor" name="content" type="text/plain" style="width:650px;height:300px;">{$info['content']}</script>
                            </div>
                        </div>
                        <div>
                        <!--div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">上传资源</label>
                            <input onclick="addfile();" class="fr addlf" type="button" value="添加" style="margin-right:100px;"/>
                            <div class="col-lg-5 addfe">
                                <p class="addfile"><input class="fl fle" type="file" name="sourc[]" ></p>
                            </div>
                        </div -->
                        </div>
                        <div class="fr bntmr20">
                        <button type="submit" class="btn btn-primary">确定</button>
                        <button type="reset" class="btn btn-default" onclick="layer.close(0.3);">取消</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</block>