<!-- include public templates -->

<!-- stystem menu content -->
<div class="row" style="width:800px;">
    <div class="col-lg-12">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="tabnavcont">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="focusedInput">章节正则</label>
                            <div class="col-lg-7">
                                <input class="form-control" name="preg" id="preg" type="text" placeholder="" value="<if condition="$info['filter_preg']">{$info['filter_preg']}<else />/(^第[\d一二三四五六七八九十百千万]+章.*)/</if>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="focusedInput">过滤关键字</label>
                            <div class="col-lg-7">
                                <input class="form-control" name="keyword" id="keyword" type="text" placeholder="过滤关键字" value="{$info['filter_keyword']}"/>
                            </div>
                        </div>
                        <div class="fr bntmr20">
                            <button type="submit" class="btn btn-primary" onclick="filter()">确定</button>
                            <button type="reset" class="btn btn-default" onclick="layer.close(0.3);">取消</button>
                        </div>
                    </fieldset>
                <div style="width:750px;margin:20px auto 10px;border:1px solid #ccc;max-height: 270px;overflow-y: auto;">
                    {$content|dump}
                </div>
            </div>
            <script>
                var filter = function () {
                    var reg = $('#preg').val().replace(/\+/g,'%2B');
                    $.ajax({
                        type : 'post',
                        data : 'preg='+reg+'&keyword='+$('#keyword').val(),
                        url  : "{:U('Admin/Gather/qisuu',array('method'=>'filter','id'=>$id))}"
                    }).done(function (e){
                        layer.msg(e,e,1);
                    });
                }
            </script>
        </div>           
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>
