<!-- admin system menu edit -->

<div class="row" style="width:850px;">
    <div class="col-lg-12">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">资源编辑页</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                <form class="form-horizontal" method="post" action="{:U('Admin/Gather/dispose',array('method'=>'tmpchapter'))}" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$info['id']}" />
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">小说名称</label>
                            <div class="col-lg-5">
                                <input class="form-control" name="name" id="focusedInput" type="text" value="{$info['name']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">章节</label>
                            <div class="col-lg-5">
                                <input class="form-control" name="title" id="focusedInput" type="text" value="{$info['chapter']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">章节名称</label>
                            <div class="col-lg-5">
                                <input class="form-control" name="chapter" id="focusedInput" type="text" value="{$info['title']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="focusedInput">资源内容</label>
                            <div class="col-lg-7">
                                <script id="editor" name="content" type="text/plain" style="width:650px;height:350px;">{$info['content']}</script>
                            </div>
                        </div>
                        <div class="fr bntmr20">
                            <button type="submit" class="btn btn-primary">确定</button>
                            <button type="reset" class="btn btn-default" onclick="layer.close(0.3);">取消</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="/Public/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="/Public/ueditor/lang/zh-cn/zh-cn.js"> </script>
<link href="/Public/ueditor/themes/default/css/ueditor.css" rel="stylesheet"/>
<script>
    // var ue = UE.getEditor('editor');
    $(function(){
        var ue = UE.getEditor('editor',{
            serverUrl :'{:U("Admin/Gather/editer")}'
        });
    });
</script>