<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="./css/style.css" charset="UTF-8" rel="stylesheet"/>
 <script src="/Public/js/avatar/avatar.js"></script>
 <script type="text/javascript">
window.onload=function(){
    xiuxiu.setLaunchVars("avatarPreview", {visible:true,medium:{width:60,height:60, label:"中尺寸"},large:{width:200,height:200, label:"大尺寸"}});
    xiuxiu.setUploadDataFieldName ('file');
    xiuxiu.setLaunchVars("cropPresets", "200x200");
    xiuxiu.embedSWF("avatar",5,"800","500");
    /*第1个参数是加载编辑器div容器，第2个参数是编辑器类型，第3个参数是div容器宽，第4个参数是div容器高*/
    xiuxiu.setUploadURL("http://www.m.com/Admin-Index-index.html");//修改为您自己的上传接收图片程序
    xiuxiu.setUploadType(2);
    
    xiuxiu.onInit = function ()
    {
        xiuxiu.loadPhoto(""); 
    }   
    xiuxiu.onUploadResponse = function (data)
    {
        //alert("上传响应" + data);  可以开启调试
    }
}
</script>
</head>
<body>
    <form enctype="multipart/form-data" action="{:U('Admin/Index/index')}" method="post">
        <input type="file" name="file" />
        <input type="submit" />
    </form>
   <div id="avatar"></div>
</body>
</html>