<!-- include public templates -->
<extend name="Public:Temp" />

<block name="controller">
    <a href="{:U('Admin/System/adminmenu')}">系统管理</a>
</block>
<block name="action">
    前台导航菜单管理
</block>

<!-- user list content -->
<block name="content">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title">
						前台导航菜单列表
					</div>
					<div class="clr"> </div>
                    <div class="seach_select">
                        <form action="{:U('Admin/System/menu')}" method="post">
                        <input type="text" name="uid" class="intext" value="{$seach['uid']}" placeholder="用户ID"/>
                        <input type="text" name="keyword" class="intext" value="{$seach['keyword']}" placeholder="用户名或邮箱"/>
                        <input type="submit" class="btn btn-sm btn-primary" value="搜索"　/>
                        </form>
                    </div>
                    <div class="ml20 seach_select">
                    	<input type="button" onclick="layer.load('菜单编辑','{:U('Admin/Operation/edit',array('type'=>'homemenu'))}');" class="btn btn-sm btn-success opn"  value="添加菜单"/>
					</div>
					<div class="pull-right flpostion">
						<span class="badge">{$count}</span>
					</div>
				</div>
				<div class="bootstrap-admin-panel-content">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><input type="checkbox" name="" /></th>
								<th>ID</th>
								<th>菜单名</th>
								<th>菜单别名</th>
								<th>菜单地址</th>
								<!--th>菜单位置</th -->
								<th>菜单状态</th>
								<th>菜单动作</th>
								<th>菜单排序</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						    <volist name="list" id="m">
    							<tr id="deleid_{$m['id']}">
    								<td><input type="checkbox" name="ids[]" value="{$m['id']}"/></td>
    								<td>{$m['id']}</td>
    								<td>{$m['str']}{$m['name']}</td>
    								<td>{$m['str']}{$m['key']}</td>
    								<td><a href="{:U($m['url'])}">{$m['url']}</a></td>
    								<!--td>{$position[$m['position']]}</td-->
    								<td>{$status[$m['status']]}</td>
    								<td>{$m['action']}</td>
    								<td>{$m['sort']}</td>
    								<td class="bnt-pl3">
    								    <a href="javascript:;" onclick="layer.load('菜单编辑','{:U('Admin/Operation/edit',array('type'=>'homemenu','id'=>$m['id']))}');" ><i class="glyphicon glyphicon-pencil"></i></a>
    								    <a href="javascript:void(0);" url="{:U('Admin/Operation/delete',array('type'=>'homemenu'))}" title="删除" onclick="delall($(this),{$m['id']});"><i style="color:#b00;" class="glyphicon glyphicon-trash"></i></a>
    								</td>
    							</tr>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</block>

