<!-- include public templates -->
<extend name="Public:Temp" />

<!-- page title name -->
<block name="PageName">
    友情链接管理中心
</block>

<!-- user list content -->
<block name="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">
                                                    友情链接列表
                    </div>
                    <div class="clr"> </div>
                    <div class="seach_select">
                        <input type="button" onclick="layer.load('会员编辑','{:U('Admin/Operation/edit',array('type'=>'friendurl'))}');" class="btn btn-sm btn-success opn"  value="友链编辑"/>
                        <input type="button" url="{:U('Admin/Sourc/delete')}" class="btn btn-sm btn-primary" value="批量删除" onclick="delall($(this))"　/>
                    </div>
                    <div class="pull-right flpostion">
                        <span class="badge">{$count}</span>
                    </div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox"  check='1' id="checkall"/>
                                <th>ID</th>
                                <th>名称</th>
                                <th>地址</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="v">
                                <tr id="deleid_{$v['id']}">
                                    <td><input type="checkbox" name="ids[]" value="{$v['id']}" class="checkalls"/></td>
                                    <td>{$v['id']}</td>
                                    <td>{$v['name']}</td>
                                    <td>{$v['url']}</td>
                                    <td>{$v['sort']}</td>
                                    <td class="bnt-pl3">
                                        <!-- edit -->
                                        <a href="javascript:;" onclick="layer.load('友情链接编辑','{:U('Admin/Operation/edit',array('id'=>$v['id'],'type'=>'friendurl'))}');" ><i class="glyphicon glyphicon-pencil"></i></a>
                                        <!-- delete -->
                                        <a href="javascript:void(0);" url="{:U('Admin/Operation/delete',array('type'=>'friendurl'))}" onclick="delall($(this),{$v['id']});"><i style="color:#b00;"  class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                <div id="page">{$page}</div>
            </div>
        </div>
    </div>
</block>

