<!-- include public templates -->
<extend name="Public:Temp" />

<!-- page title name -->
<block name="PageName">
    资源管理中心
</block>

<!-- user list content -->
<block name="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">
                                                    资源列表
                    </div>
                    <div class="clr"> </div>
                    <div class="seach_select">
                        <form action="{:U('Admin/Sourc/index')}" method="post">
                            <input type="text" name="id" class="intext" value="{$seach['uid']}" placeholder="用户ID"/>
                            <input type="text" name="keyword" class="intext" value="{$seach['keyword']}" placeholder="用户名或邮箱"/>
                            <input type="submit" class="btn btn-sm btn-primary" value="搜索"　/>
                        </form>
                    </div>
                    <div class="seach_select">
                        <a href="{:U('Admin/Sourc/edit')}" class="btn btn-sm btn-success opn">资源编辑</a>
                        <input type="button" url="{:U('Admin/Sourc/delete')}" class="btn btn-sm btn-primary" value="批量删除" onclick="delall($(this))"　/>
                    </div>
                    <div class="pull-right flpostion">
                        <span class="badge">{$count}</span>
                    </div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox"  check='1' id="checkall"/>
                                <th>ID</th>
                                <th>分类ID</th>
                                <th>书籍名称</th>
                                <th>封面</th>
                                <th>状态</th>
                                <th>评论数</th>
                                <th>平均平分</th>
                                <th>推荐</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="v">
                                <tr id="deleid_{$v['id']}">
                                    <td><input type="checkbox" name="ids[]" value="{$v['id']}" class="checkalls"/></td>
                                    <td>{$v['id']}</td>
                                    <td>{$catelist[$v['cateid']]['name']}</td>
                                    <td>{$v['title']}</td>
                                    <td><img src="{$v['cover']}" style="width:50px;height:50px;"/></td>
                                    <td class="upstat">{$status[$v['status']]}</td>
                                    <td>{$v['comment_num']}</td>
                                    <td>{$v['score']}</td>
                                    <td class="recomm">{$recomm[$v['recommend']]}</td>
                                    <td>{$v['uptime']|date="Y-m-d H:m:s",###}</td>
                                    <td class="bnt-pl3">
                                        <a href="{:U('Admin/Sourc/edit',array('id'=>$v['id']))}" ><i class="glyphicon glyphicon-pencil"></i></a>
                                        <!-- set recommend -->
                                        <a href="javascript:void(0);" url="{:U('Admin/Sourc/recommend',array('id'=>$v['id']))}" recomm="{$v['recommend']}" onclick="recommend($(this));">
                                            <if condition="$v['recommend'] EQ 1">
                                                <i class="glyphicon glyphicon-flag" style="color:green;"></i>
                                            <else />
                                                <i class="glyphicon glyphicon-flag" style="color:red;"></i>
                                            </if>
                                        </a>
                                        <!-- set status -->
                                        <a href="javascript:void(0);" url="{:U('Admin/Sourc/status')}" style="color:red;" status="{$v['status']}" onclick="setstatus($(this),{$v['id']});">
                                            <if condition="$v['status'] EQ 1">
                                                <i class="glyphicon glyphicon-minus-sign" style="color:red;"></i>
                                            <else />
                                                <i class="glyphicon glyphicon-ok" style="color:green;"></i>
                                            </if>
                                        </a>
                                        <!-- delete -->
                                        <a href="javascript:void(0);" url="{:U('Admin/Sourc/delete')}" onclick="delall($(this),{$v['id']});"><i style="color:#b00;"  class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                <div id="page">{$page}</div>
            </div>
        </div>
    </div>
</block>

