<!-- include public templates -->
<extend name="Public/Temp" />

<block name="content">
<!-- content start -->
    <div class="content w1110">
        <div class="detail-left fl w780 bbr">
            <div class="detail">
                <div class="n-logo fl bbr">
                    <img src="img/1.jpg" />
                </div>
                <div class="n-info fr">
                    <h1>作者作者作者作者</h1>
                    <h3 class='n-basein'>基 本 信 息</h3>
                    <dl>
                        <dd>作者 :&nbsp;&nbsp; <span>{$info['author']}</span></dd>
                        <dd style="margin-right:0;">评分 :&nbsp;&nbsp; <span>{$info['grade']}</span></dd>
                        <dd>字数 :&nbsp;&nbsp; <span>{$info['words_num']}</span></dd>
                        <dd style="margin-right:0;">状态 :&nbsp;&nbsp; <span>{$info['end_status']}</span></dd>
                    </dl>
                </div>
                <div class="clr"> </div>
                <div class="n-intro">
                    <h3>作 品 简 介</h3>
                    <div class="intcont">
                        <p>{$info['intro']}</p>
                    </div>
                </div>
                <!-- last-chapter start -->
                <div class="clr"> </div>
                <div class="last-chapter">
                    <h3>最 新 章 节<a href="{:U('Index/Chapter',array('nid'=>$info['id']))}">[全 部 章 节]</a></h3>
                    <dl>
                        <volist name="chapter" id="c">
                            <dd <if condition="($key+1)%2 EQ 0">style="margin-right:0;"</if> ><a href="{:U('Index/content',array('nid'=>$c['book_id'],'tid'=>$c['id']))}">{$c['title']}</a><span class="fr">{$c['uptime']|date="Y-m-d",###}</span></dd>
                        </volist>
                    </dl>
                    <div class="clr"> </div>
                </div>
                <!-- last-chapter end -->
                <div class="clr"> </div>
            </div>
            <div class="clr"> </div>
            <!-- comment start -->
            <div class="comment">
                <h3>评 论</h3>
                <div class="in-box">
                    <p>回复：</p>
                    <textarea> </textarea>
                </div>
                <div class="com-list">
                    
                </div>
                <div class="clr"> </div>
            </div>
        </div>
        <div class="detail-right fr w300">
            <div class="new-recom bbr">
                <h3>最 新 作 品</h3>
                <dl>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                </dl>
                <div class="clr"> </div>
            </div>
            <div class="new-recom bbr">
                <h3>最 新 作 品</h3>
                <dl>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                    <dd><a href="">作者:作者作者作者作者</a><span>2014-3-4</span></dd>
                </dl>
                <div class="clr"> </div>
            </div>
        </div>
        <div class="clr"> </div>
    </div>
<!-- content end -->
</block>