<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title><block name="title">看点书小说网</block></title>
	<link rel="stylesheet" type="text/css" href="/Public/css/kandianshu.com.css">
	<meta content="<block name='keyword'></block>" name="keywords">
    <meta content="<block name='description'></block>" name="description">
    <script src="/Public/js/jquery-2.1.1.min.js"></script>    
    <script src="/Public/js/public.js"></script>    
</head>
<body>
<!-- top start -->
	<div class="top">
		<div class="t-inner">
			<div class="left fl">
			</div>
			<div class="right fr">
				<a href="{:U('Novel/Index/index')}">设为主页</a> |
				<a href="#">注册</a> |
				<a href="#">登入</a> |
			</div>
			<div class="clr"></div>
		</div>
	</div>

<!-- header start -->
	<div class="header">
		<div class="wrap1100">
			<div class="logocss"><a href="{:U('Novel/Index/index')}">看点书</a></div>
			<form>
				<div class="serachwrap">
					<span class="search_text"><input type="text" value="请输入小说名..." autocomplete="off" title="请输入小说名..." onfocus="if(this.value==this.title) this.value='';" onblur="if(this.value=='') this.value=this.title;" onsubmit="return qrsearch();" autofocus="true" class="acInput"></span>
					<input type="submit" value="" class="search_submit">
					<p>热门搜索：
						<a href="/intro/41222">莽荒纪</a>
						<a href="/intro/37411">天才相师</a>
						<a href="/intro/37604">最强弃少</a>
						<a href="/intro/37444">求魔</a>
						<a href="/intro/37407">绝世唐门</a>
					</p>
				</div>
			</form>
			<div class="favboxs">
				<div class="favsbtn">收藏</div>
				<div class="recordwrap">
					<i>暂无收藏记录...</i>
				</div>
			</div>
			<div class="readrecord">
				<div class="recordbtn">阅读记录</div>
				<div class="recordwrap">
					<i>暂无阅读记录...</i>
				</div>
			</div>
		</div>
	</div>

<!-- nav start -->
	<div class="nav">
		<p>
		    |<a href="{:U('Index/index')}" target="_self">首页</a> |
		    <a href="#">最新小说</a> |
		    <volist name="catelist" id="c">
			<a href="{:U('Index/index',array('c'=>$c['id']))}" target="_self">{$c['name']}</a> |
			</volist>
			<a href="#">小说排行榜</a> |
			<a href="#">完结</a> |
		</p>
	</div>
	<!-- navgition position -->
    <div class="nav-position w1110">
        <p>当前位置：
            <a href="{:U('Index/index')}">首页</a> >
            <a href="{:U('Index/index')}">首页</a> >
            <a href="{:U('Index/index')}">首页</a> >
            <a href="{:U('Index/index')}">首页</a> >
        </p>
    </div>

    <block name="content">
<!-- content start -->
    <div class="content">
    <!-- box1 start recommed -->
        <div class="box1 boxshadow">
            <div class="recom-ing">
                <dl style="margin-bottom:10px;">
                    <volist name="recommend" id='r'>
                        <dd <if condition="($key+1)%8 EQ 0">style="margin-right:0;"</if> >
                            <a href="{:U('Novel/Index/detalis',array('nid'=>$r['id']))}"><img src="{$r['cover']}" /><p class="author">{$r['author']}</p></a>
                            <a href="{:U('Novel/Index/detalis',array('nid'=>$r['id']))}" class="title">{$r['name']}</a>
                        </dd>
                    </volist>
                    <div class="clr"></div>
                </dl>
            <div class="clr"></div>
            </div>
        </div>
    <!-- box1 end -->
    
    <!-- box5 start -->
        <div class="box5 boxshadow">
            <div id="tabsthree" class="tabstit">
                <ul>
                    <li class="cur">最新更新</li>
                    <li class="last">最新全本</li>
                </ul>
            </div>
            <div class="recently_list" id="consthree">
                <ul>
                    <volist name="newchapter" id="n">
                        <li>
                            <span class="r_spanone"><a href="{:U('Novel/Index/index',array('cid'=>$n['cateid']))}">[{$catelist[$n['cateid']]['name']}]</a>&nbsp;|&nbsp;<a href="{:U('Novel/Index/details',array('nid'=>$n['id']))}">{$n['name']}</a></span>
                            <span class="r_spantwo"><i>更新至</i>&nbsp;&nbsp;<a href="{:U('Novel/Index/content',array('nid'=>$n['id'],'tid'=>$n['chapter']['id']))}">{$n['chapter']['title']}</a></span>
                            <span class="r_spanthree">{$n['uptime']|date='Y-m-d',###}</span>
                        </li>
                    </volist>
                </ul>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    
    <!-- box4 start -->
        <div class="box4 boxshadow">
            <div class="w690">
                <div class="titone">
                    <h2 id="t1"><a href="#">玄幻</a>-<a href="#">奇幻</a></h2>
                    <span>
                        <a href="#">暧昧保镖</a>|
                        <a href="#">无极剑神</a>|
                        <a href="#">美女订阅宝典</a>|
                        <a href="#">最强武神</a>|
                        <a href="#">异世之堕落天才</a>|
                        <a href="#">众神王座</a>
                    </span>
                </div>
                <ul class="clrarfix imgitems imgitemstwo">
                    <li>
                        <a href="#" class="imgcss"><img src="img/4.jpg" alt=""><strong>左耳思念</strong></a>
                        <h3><a href="#">都市之最强纨绔</a></h3>五百年后国家培养出
                    </li>
                    <li>
                        <a href="#" class="imgcss"><img src="img/4.jpg" alt=""><strong>净无痕</strong></a>
                        <h3><a href="#">绝世武神</a></h3>九霄大陆，宗门林立
                    </li>
                    <li>
                        <a href="#" class="imgcss"><img src="img/4.jpg" alt=""><strong>寂小贼</strong></a>
                        <h3><a href="/intro/35546">傲世丹神</a></h3>少年沈翔艳遇神女
                    </li>
                    <li>
                        <a href="#" class="imgcss"><img src="img/4.jpg" alt=""><strong>梁家三少</strong></a>
                        <h3><a href="#">不灭武尊</a></h3>一门被视为垃圾的功
                    </li>
                    <li>
                        <a href="#" class="imgcss"><img src="img/4.jpg" alt=""><strong>莫默</strong></a>
                        <h3><a href="/intro/37457">武炼巅峰</a></h3>武之巅峰，是孤独
                    </li>
                </ul>
                <div class="clrarfix fontitems">
                    <ul>
                        <li><a href="#">剑道独神</a>：剑者，当有锋芒。宁折不屈，宁断不弯，不屈不饶，无所</li>
                        <li><a href="#">裁决</a>：一个外表天真纯朴，一脸迷糊的大头男孩，却是一个跟着</li>
                        <li><a href="#">官路弯弯</a>：李毅意外重生在一个从小被家族抛弃的红三代私生子身上</li>
                        <li><a href="#">全能奇才</a>：任何技能一学就会，提升熟练度，便能站在最巅峰！……</li>
                    </ul>
                    
                </div>
            </div>
            <div class="w246">
                <div class="tittwo">
                    <h2>热门排行</h2>
                    <ul>
                        <li class="cur">日</li>
                        <li>周</li>
                        <li>月</li>
                    </ul>
                </div>
                <div class="clrarfix olwrap">
                    <ol>
                        <li><a href="#">绝世武神</a>：九霄大陆，宗门林立，</li>
                        <li><a href="#">绝世唐门</a>：这里没有魔法，没有斗</li>
                        <li><a href="#">狼牙</a>：墨绿的油彩、冷竣的</li>
                        <li><a href="#">大主宰</a>：大千世界，位面交汇，</li>
                        <li><a href="#">武炼巅峰</a>：武之巅峰，是孤独，</li>
                        <li><a href="#">永夜君王</a>：千夜自困苦中崛起，</li>
                        <li><a href="#">剑道独尊</a>：真灵大陆，宗门千万，</li>
                        <li><a href="#">龙血战神</a>：相传，远古时期的龙</li>
                        <li><a href="#">官路弯弯</a>：李毅意外重生在一个从</li>
                        <li><a href="#">武动乾坤</a>：修炼一途，乃窃阴阳，</li>
                    </ol>
                </div>
            </div>
            <div class="clr"></div>
        </div>

    </block>

    <!-- box6 start -->
        <div class="link boxshadow">
            <div class="linktop clearfix">
                <h3>精品小说网站</h3>
            </div>
            <div class="linkbody">
                <a href="http://www.zhaoxiaoshuo.com" targdt="_blank">找小说</a>|
                <a href="http://www.9yaocn.com/" targdt="_blank">九妖笑话</a>|
                <a href="http://www.gongjiao.com/" targdt="_blank">公交查询</a>|
                <a href="http://book.hao123.com" targdt="_blank">小说</a>|
                <a href="http://book.hao123.com/index/ph" targdt="_blank">小说排行榜</a>|
                <a href="http://www.guaiguai.com" targdt="_blank">乖乖网</a>|
                <a href="http://www.kanshu.com" targdt="_blank">看书网</a>|
                <a href="http://www.quxiu.com" targdt="_blank">手机游戏</a>|
                <a href="http://b.faloo.com" targdt="_blank">飞卢小说</a>|
                <a href="http://www.bxwx.org" targdt="_blank">笔下文学</a>|
                <a href="http://www.wjsw.com/" targdt="_blank">万卷书屋</a>|
                <a href="http://www.hongshu.com/" targdt="_blank">红薯小说网</a>|
                <a href="http://www.xs8.cn/" targdt="_blank">言情小说吧</a>|
                <a href="http://www.feiku.com" targdt="_blank">飞库电子书</a>|
                <a href="http://www.tusuu.com/" targdt="_blank">txt小说下载</a>|
                <a href="http://www.yuncheng.com" targdt="_blank">云中书城</a>|
                <a href="http://www.huanxia.com " targdt="_blank">幻侠小说网</a>|
                <a href="http://www.motie.com" targdt="_blank">磨铁中文网</a>|
                <a href="http://www.shuhai.com" targdt="_blank">书海小说网</a>|
                <a href="http://www.txt8.net" targdt="_blank">txt小说下载吧</a>|
                <a href="http://www.sxcnw.net " targdt="_blank">书香电子书</a>|
                <a href="http://www.abada.com" targdt="_blank">小说下载网</a>|
                <a href="http://www.bookbao.com/" targdt="_blank">书包网</a>|
                <a href="http://www.duwenzhang.com/" targdt="_blank">文章阅读网</a>|
                <a href="http://www.3gsc.com.cn/" targdt="_blank">3G小说网</a>|
                <a href="http://bbs.txtnovel.com/" targdt="_blank">书香门第TXT</a>|
                <a href="http://www.msxf.net" targdt="_blank">陌上香坊</a>|
                <a href="http://www.txtbook.com.cn" targdt="_blank">乐读电子书</a>|
                <a href="http://www.2kxs.com" targdt="_blank">2k小说</a>|
                <a href="http://www.juyit.com" targdt="_blank">君子聚义</a>|
                <a href="http://www.ibook8.com/" targdt="_blank">txt电子书下载</a>|
                <a href="http://www.tadu.com/?cid=1914" targdt="_blank">塔读文学</a>|
                <a href="http://www.paipaitxt.com" targdt="_blank">派派小说论坛</a>|
                <a href="http://www.feifantxt.com" targdt="_blank">非凡小说网</a>|
                <a href="http://www.zongheng.com " targdt="_blank">纵横中文网 </a>|
                <a href="http://www.bayueju.com" targdt="_blank">八月居小说网</a>|
                <a href="http://www.17k.com/ " targdt="_blank">17K小说网</a>|
            </div>
        </div>

<!-- footer start -->
    <div class="footer">
        <p class="ft_link">
            <a href="#" target="_blank">关于本站</a><b>|</b>
            <a href="#" target="_blank">官方微博</a><b>|</b>
            <a href="#" class="mobile" target="_blank">手机版</a><b>|</b>
            <a href="#" class="browser hilight" target="_blank" title="打开hao123主页速度快一倍"><i></i>hao123桔子浏览器</a><b>|</b>
            <a href="#" target="_blank">网站地图</a>
        </p>
        <p class="copyright">
            <span class="intro">hao123.com 上网导航第一品牌</span>
            <a class="beian" target="_blank" href="#">京ICP证030173号</a>
        </p>
    </div>
</body>
</html>