*{margin:0px;padding:0px;box-sizing:border-box;}
body {overflow-x:hidden;font-family: "微软雅黑", "Microsoft YaHei", Helvetica,sansation, Verdana, Arial, sans-serif;font-size: 12px;}
a{text-decoration: none;color: #333;}
a:hover {text-decoration: underline;color: #518900;}
img,table,input,textarea{border: 0;vertical-align: middle;outline: none;}
table{border-collapse: collapse;}
ul,ol{list-style: none;}
.fl{float: left;}
.fr{float: right;}
.cle{clear: both;}
.abs{position: absolute;}
.rel{position: relative;}
form {display: inline;}
b, u, i, s, em {text-decoration: none;font-weight: normal;font-style: normal;}


body{background: #e1e1e1;}
/* top css */
.top{width: 100%;height: 30px;border-bottom: 2px solid #eaeae2;background: #fff;}
.top .t-inner{width: 1100px;margin: 0 auto;}
.top .t-inner a{border-bottom: 2px solid #;color: #666;margin-right: 10px;line-height: 30px;}
.top .t-inner a.bold{color: #000;font-weight: bold;}
.top .t-inner .right a{color: #666;margin-left: 10px;}
.top .t-inner .left a:hover{border-bottom: 2px solid #1ba968;color: #1ba968;margin-bottom: -2px;padding-bottom: 7px;}
.top .t-inner .right a:hover{text-decoration: underline;color: #F30}

/* header css */
.header {background: #fff;height: 97px;}
.header .wrap1100 {margin: 0 auto;width: 1100px;position: relative;z-index: 10;}
.logocss {width: 210px;height: 60px;top: 9px;left: 29px;}
.logocss, .serachwrap, .favboxs, .readrecord {position: absolute;}
.logocss a {display: block;height: 60px;text-indent: -999em;overflow: hidden;background: url(../img/logo.jpg) no-repeat;}
.serachwrap {left: 350px;top: 27px;width: 450px;}
.search_text, .search_submit, .favsbtn, .recordbtn {background: url(../img/headerbg.jpg) no-repeat;}
.search_text, .search_submit {vertical-align: middle;}
.search_text {display: inline-block;width: 348px;height: 34px;margin-right: 5px;}
.search_text input {font-size: 16px;color: #444;width: 337px;height: 23px;margin: 7px 0 0 8px;border: none 0;}
.search_submit {width: 90px;height: 34px;cursor: pointer;border: none 0;background-position: -353px 0;}
.serachwrap p, .serachwrap a {color: #999;}
.serachwrap p {height: 33px;line-height: 33px;padding-left: 5px;}
.serachwrap a {margin-right: 10px;}
.serachwrap a:hover{text-decoration: underline;}
.favboxs {top: 28px;left: 825px;}
.favsbtn {width: 87px;background-position: 0 -36px;}
.favsbtn, .recordbtn {position: relative;z-index: 2;height: 32px;color: #212121;text-indent: 30px;line-height: 32px;font-size: 14px;cursor: pointer;}
.recordwrap {display: none;position: absolute;width: 242px;top: 31px;right: 0;border: 1px solid #CCCDC7;background: #fff;}
.recordwrap i {display: block;text-align: center;padding: 6px 0;font-style: normal;color: #B5B5B5;}
.readrecord {z-index: 2;left: 940px;top: 28px;}
.recordbtn {width: 106px;background-position: -100px -36px;}

/* nav css */
.nav{height: 37px;line-height: 37px;background: url(../img/icobg.png) repeat-x 0 -110px;}
.nav p{padding: 0;width: 1100px;margin: 0 auto;color: #54C118;font-size: 14px;position: relative;}
.nav a{color: #fff;margin: 0 10px 0 10px;}
.nav a:hover{text-decoration: underline;}


/* footer css */
.footer{width: 1100px;margin: 10px auto 0;padding: 0px 0 30px;padding-top: 13px;border-top: #EEE solid 1px;clear: both;}
	.ft_link {padding-top: 0;margin-left: 0;text-align: center;float: left;font-family: "SIMSUN","\5B8B\4F53",monospace;}
	.ft_link a {color: #666;font-size: 12px;}
	.ft_link b {font-family: "SIMSUN","\5B8B\4F53",monospace;margin: 0 7px 0 6px;color: #999;}
	.copyright {text-align: center;color: #666;font-family: Arial;float: right;padding-top: 0;margin-left: 0;}
	.copyright .beian,.copyright .feedback {color: #737373;font-family: Arial,SimSun;margin-left: 16px;padding: 0 16px 0 0;background: url(../img/index_icon.png) 101px -131px no-repeat;}
	.ft_link a:hover {color: #F30;}
	.ft_link a.mobile {padding-left: 16px;background: url(../img/index_icon.png) -440px -550px;display: inline-block;line-height: 18px;}
	.ft_link a.browser i {background: url(../img/common-bg-spr.png) -160px -32px;padding: 8px;margin-right: 4px;display: inline-block;vertical-align: top;}
