/* 精品小说网站 css */
.class_wraptop {width: 1100px;margin: 0 auto;height: 48px;background: url(../img/class_wraptopbg.jpg) #F1FFF0 no-repeat right;}
.class_wraptop p {padding-left: 28px;border: 1px solid #A9DEA6;border-right: none;height: 46px;line-height: 46px;color: #C6D9BD;width: 1061px;overflow: hidden;}
.class_wraptop strong {color: #323431;margin-right: 16px;}
.class_wraptop p a {margin: 0 14px;color: #323431;}

/* content css */
.content{width: 1100px;margin: 20px auto 0;box-sizing:border-box;}
.box1left{ overflow:hidden;margin-right: 10px;border:1px solid #ccc;background:#fff;}/*溢出隐藏*/
    .recom-class{padding:10px 0;}
    .recom-class .recom-ing dd{width:115px;height:150px;border:1px solid #ccc;float:left;margin:5px;}
	.menu{border-left: 1px solid #ddd;padding-bottom: 23px;margin-right:20px;}
	.menu ul li{cursor: pointer;width: 80px;height: 26px;color: #282828;text-align: center;margin-top: 5px;height: 26px;line-height: 26px;background: url(../img/indexboxbg.png) no-repeat 0 -9px;}
	.menu ul li:hover{background-position: 0 -40px;color: #fff;}


.r_tline, .r_bline, .c_tline, .c_bline {background: url(../img/bg01.jpg) repeat-x;}
.r_tline, .c_tline {height: 3px;}


.box3{padding-bottom: 10px;border: 1px solid #ddd;margin-bottom: 10px;background: #fff;}
	.tabstit {padding:0 14px;height: 42px;background: url(../img/icobg02.png) repeat-x 0 -240px;}
	.tabstit ul {float: left;margin-top: -1px;height: 43px;_position: relative;}
	.tabstit li {font-size: 14px;float: left;height: 21px;overflow: hidden;width: 213px;text-align: center;margin-top: 13px;color: #333;cursor: pointer;border-right: 1px solid #D4D4D4;}
	.tabstit li.last{border: none;}
	.tabstit li.cur {border-top: 4px solid #017F01;height: 39px;_position: relative;background: #fff;line-height: 39px;margin: 0 0 0 -1px;color: #018000;font-weight: bold;border-left: 1px solid #D4D4D4;border-right: 1px solid #D4D4D4;}
	.imgitems {padding: 10px 0 0 4px;}
	.imgitems li {float: left;margin: 10px 24px 0;display: inline;width: 134px;height: 210px;overflow: hidden;color: #888;position: relative;}
	.imgcss {display: block;padding: 2px;border: 1px solid #ddd;position: relative;}
	.imgcss, .imgcss img {width: 128px;height: 159px;}
	.imgitems h3 {height: 25px;line-height: 27px;overflow: hidden;font-weight: normal;}
	.tjico, .ywjico, .lzzico {display: block;position: absolute;right: 0;top: 0;width: 46px;height: 46px;}
	.lzzico {background: url(../img/lzzico.png) no-repeat;}

.box4{padding-bottom: 10px;border: 1px solid #ddd;background: url(../img/bgrepeaty.png) #fff repeat-y right top;margin-bottom: 10px;}
	.w690 {float: left;width: 843px;}
	.titone {height: 27px;line-height: 24px;margin-top: 8px;}
	.titone h2 {width: 127px;height: 27px;text-indent: 30px;font-size: 14px;color: #fff;float: left;margin-left: -1px;_position: relative;}
	.titone h2 {background: url(../img/titbgs.jpg) no-repeat;}
	.titone h2 a {color: #fff;}
	.titone span {float: left;padding-left: 4px;color: #ccc;line-height: 24px;}
	.titone span a {margin: 0 22px;}
	.imgitemstwo {padding: 12px 0 0 1px;}
	.imgitemstwo li {margin: 10px 24px;width: 116px;height: 190px;}
	.imgitemstwo .imgcss {padding: 1px;}
	.imgitemstwo .imgcss, .imgitemstwo .imgcss img {width: 112px;height: 139px;}
	.imgitemstwo .imgcss strong {position: absolute;width: 107px;height: 21px;line-height: 21px;left: -1px;bottom: -1px;padding-left: 9px;color: #fff;}
	.imgcss strong {background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');}
	.imgitems h3 {height: 25px;line-height: 27px;overflow: hidden;font-weight: normal;}
	.fontitems {border-top: 1px dotted #ddd;margin: 10px auto 0;width: 790px;padding-top: 8px;overflow: hidden;}
	.fontitems ul {width: 700px;}
	.fontitems li, .olwrap li {white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
	.fontitems li {color: #888;float: left;height: 23px;line-height: 23px;width: 300px;margin: 0 50px 0 0;overflow: hidden;display: inline;}
	.w246 {float: right;width: 246px;padding: 0 9px 0 0;}
	.tittwo {height: 37px;border-bottom: 1px solid #DCDCDC;}
	.tittwo h2 {line-height: 44px;height: 37px;overflow: hidden;font-size: 14px;color: #027F01;float: left;padding-left: 16px;}
	.tittwo ul {float: right;margin-bottom: -1px;_position: relative;}
	.tittwo li {font-weight: bold;cursor: pointer;float: left;height: 30px;line-height: 30px;overflow: hidden;margin-top: 8px;padding: 0 15px 0 18px;color: #343434;}
	.tittwo li.cur {color: #027F01;border-bottom: 2px solid #027F01;height: 28px;}
	.olwrap {padding-top: 6px;}
	.olwrap ol {float: left;background: url(../img/recbgs.png) no-repeat 17px 0;}
	.olwrap li {color: #B0B0B0;text-indent: 55px;height: 27px;line-height: 27px;overflow: hidden;}
	.fontitems li, .olwrap li {white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
	.olwrap a {margin-right: 5px;}

.box5{border: 1px solid #ddd;background: #fff;}
	.box5 .tabstit {background-position: 0 -284px;}}
	.box5 .recently_list {margin: 10px auto 0;width: 920px;height: auto;overflow: hidden;color: #333;}
	.recently_list ul {margin-top: -1px;}
	.box5 .recently_list li {border-top: 1px dotted #ddd;height: 30px;line-height: 30px;}
	.recently_list span {float: left;display: block;}
	.recnums_r, .recnums {padding-left: 2px;width: 44px;text-align: center;color: #8E8E8E;font-family: Arial;font-style: italic;}
	.recnums_r {color: #D91610;margin-right: 10px;}
 	.r_spanone {width: 320px;padding-left: 0;}
 	.r_spantwo {width: 300px;padding-left: 5px;}
 	.r_spantwo i {font-style: normal;color: #B1B1B1;}
	.r_spanthree {width: 170px;padding-left: 5px;color: #B1B1B1;}
 	.r_spanfour {width: 110px;padding-left: 20px;position: relative;}
	.r_spanfive a {color: #f00;font-family: \5B8B\4F53;}

.link {width: 1100px;border: 1px solid #DDDDDD;border-bottom: none;margin: 0 auto;background: #fff;margin-top: 6px;}
	.linktop {position: relative;line-height: 25px;}
	.linktop h3 {position: absolute;top: 5px;left: -1px;background: url(../img/linktopbg.png);padding-left: 37px;color: #fff;height: 19px;line-height: 19px;width: 102px;float: left;}
	.linkbody {padding: 31px 27px 17px;line-height: 23px;color: #999;}
	.linkbody a {margin: 0 10px;}





